body{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

    /* banner navigation */

.master{
  width: 100%;
  height: 100vh;
  background: url("img/banner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.navigation{
  width:100%;
  background-color: #ececec;
}

.nav-center{
  max-width: 1200px;
  margin: 0 auto;
}

.nav-canter h1{
  float: left;
  padding-left: 10px;
  color: #fff;
  padding-top: 5px;
}

.orange{
  color: orange;
}

.nav-center ul{
  float: right;
}

.navigation ul li{
  float: left;
  list-style: none;
  font-weight: 500px;
  padding: 15px 40px 0px 0px;
  padding-top: 12px;
  font-size: 1rem;
  font-weight: 700;
}

.icon{
  float: right;
  margin: 20px 20px 0 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}

a{
  color:#382933;
  text-decoration: none;
}


.fa{
  font-size: 30px;
  color: #fff;
}

.banner{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30vh;
  color:#fff;
}

.banner h3{
  color: #411f1f;
  font-size: 1.4rem;
}

.banner h1{
  font-size: 3.5rem;
  letter-spacing: 5px;
  font-weight: 500;
  margin-top: 0;
}

    /* product section */


.product{
  max-width: 1200px;
  padding: 100px 15px;
  margin: 0 auto;
}

.product h1{
  float: left;
  font-weight: 500;
  font-size: 2rem;
  color: rgb(56, 56, 56);
}

.product h4{
  float: right;
  color: #f23434;
  font-weight: 700;
}

.product hr{
  clear: both;
  height: 1px;
  background-color: rgb(219, 214, 214);
  border: none;
}

.product-list1{
  width: 100%;
  padding-top: 30px;
}

.product-box{
  width: 25%;
  float: left;
  margin: 0 2%;
  padding-bottom: 15px;
  border: 1px solid rgb(219, 214, 214);
  font-weight: 500;
  color: #5c92b1;
  font-size: 1.3rem;
}

.pro-pic{
  width:100%;
  margin-bottom: 10px;
}

.product-box h2{
  float: left;
  padding-left: 5%;
  font-weight: 500;
  color: #5c92b1;
  font-size: 1.3rem;
}

.product-box h3{
  float: right;
  padding-right: 5%;
  color: rgb(71, 70, 70);
}

.product-box p{
  clear: both;
  padding: 0 5%;
  color: rgb(122, 120, 120);
  font-size: 1rem;
  line-height: 25px;
}

.five-star{
  float: left;
  font-size: 15px;
  padding: 10px 2px;
  color: #f23434;
}

.five-star1{
  margin-left: 5%
}

.review{
  float: right;
  padding-right: 5%;
  color: #f23434;
  margin-top: 10px;
}

     /* About section */

.about{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.about h1{
  font-weight: 100;
  color: rgb(56, 56, 56);
}

.about hr{
  height: 1px;
  border: none;
  background-color: rgb(214, 214, 218);
}

.about .left-box{
  width: 50%;
  float: left;
  padding-right: 20px;
}

.left-box h2{
  color:#5c92b1;
  font-weight: 100;
  margin-top: 0;
}

.left-box p{
  line-height: 25px;
  color: rgb(122, 120, 120);
  padding: 10px 0 0 0;
}

.left-box a{
  color:cornflowerblue;
}

.btn{
  width: 120px;
  height: 40px;
  border:none;
  color:#fff;
  background-color: #f23434;
  border-radius: 5px;
  font-size: 1rem;
}

.left-box .feature{
  padding: 20px 0 0 0;
}

.left-box .feature li{
  padding: 10px 0;
  list-style-type: square;
  margin-left: 20px;
  color: rgb(56, 56, 56);
}

.about .right-box{
  width: 50%;
  float: right;
}

.right-box .about-pic{
  width:100%;
}

  /* purchase section */

  .purchase{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
  }

  .center{
    width: 100%;
    background-color: rgb(241, 243, 243);
    margin: 50px 0;
  }

  .left{
    width: 70%;
    float: left;
    padding: 20px 0 20px 20px;
  }

  .left h2{
    color:#5c92b1;
  }

  .bold{
    font-weight: 600;
  }

  .left p{
    color: rgb(122, 120, 120);
  }

  .right{
    width: 30%;
    float: right;
    text-align: right;
    padding: 50px 20px 50px 0;
  }

  .purchase button{
    width: 140px;
    height: 40px;
    border:none;
    color:rgb(238, 237, 237);
    background-color: #f23434;
    border-radius: 5px;
    font-size: 1rem;
  }

  .purchase hr{
    height: 1px;
    border:none;
    background-color: rgb(214, 218, 218);
  }

    /* footer section */

    .footer{
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
      padding: 0 15px 50px 15px;
    }

    .footer p{
      font-size: 0.9rem;
    }
