*{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  width: 30%;
  height: 100%;
  position: fixed;
  background-color: darkgrey;
  line-height: 60px;
}

ul li{
  display: block;
  width: 100%;
}

ul li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: chocolate;
  transition: transform 1s ease-in-out;
}

ul li a:hover{
  transform: translate(30%,0);
  border: 2px solid black;
  border-radius: 7px;
}

.box{
  float: right;
  width: 70%;
  height: 100%;
  margin-left: 30%;
  text-align: center;
  background-color: blanchedalmond;
}
